<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marta.battleorganizer_v1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.DaoHelper"
        android:allowBackup="true"
        android:icon="@drawable/rpg_ico_small_bright"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rpg_ico_small_bright"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharactersActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FightActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" />
        <activity
            android:name=".SpellsActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" />
    </application>

</manifest>